Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.development.local
.nyc_output
coverage
.git
.gitignore
.next
.vercel
*.tsbuildinfo
.eslintcache
